version: '3.7'
services:
  server:
    container_name: unsw-calendar-api
    image: unsw-calendar-api
    restart: always
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '3000:3000'